
/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image:url("/src/assets/images/download.jpg");
} */

.search{
    margin-bottom: 15px;
}